# This file is intentionally left blank.
# The registry is defined in the 'publishConfig' section of package.json
# Authentication is handled by the publish script.
registry=http://swwnexusp0:18081/nexus/repository/sps-npm-hosted/
always-auth=true
//swwnexusp0:18081/nexus/repository/sps-npm-hosted/:_auth="YnAyOkF2ZXJ5c2VjdXJlcGFzc3dvcmQ0IQ=="
