:host {
    display: block;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    color: inherit;
    box-sizing: border-box;
}

:host ::ng-deep span.icon-loader-wrapper {
    display: block !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

:host ::ng-deep span.icon-loader-wrapper svg {
    display: block !important;
    width: 100%;
    height: 100%;
    fill: currentColor;
}
